{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mainix</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href='{% static "img/favicon.png" %}'>
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.carousel.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/magnific-popup.css" %}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/themify-icons.css" %}'>
    <link rel="stylesheet" href='{% static "css/nice-select.css" %}'>
    <link rel="stylesheet" href='{% static "css/flaticon.css" %}'>
    <link rel="stylesheet" href='{% static "css/gijgo.css" %}'>
    <link rel="stylesheet" href='{% static "css/animate.css" %}'>
    <link rel="stylesheet" href='{% static "css/slick.css" %}'>
    <link rel="stylesheet" href='{% static "css/slicknav.css" %}'>
    <link rel="stylesheet" href='{% static "css/detail_style.css" %}'>
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="/">
                                       <h2 class="text-white">Mainix</h2>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-2">
                            </div>

                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">home</a></li>
                                            <li><a href="/about">About</a></li>
                                            <li><a  class="active" href="/crypto">Crypto_Currency <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="case_details.html">case details</a></li>
                                                        <li><a href="about.html">about</a></li>
                                                        <li><a href="elements.html">elements</a></li>
                                                </ul>
                                             </li>
                                            <li><a  class="active" href="/stock">Stock & Future <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                        <li><a href="case_details.html">case details</a></li>
                                                        <li><a href="about.html">about</a></li>
                                                        <li><a href="elements.html">elements</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/index">Index</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>Stock & Futhure Analysis</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->

    <!-- about_info_area start  -->
    <div class="about_info_area plus_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="about_text">
                        <h3> 암호화폐 시장 분석  </h3>
                        <p> 새로운 금융자산으로 각광받는 암호화폐 , 이제는 다른 금융자산과 같이 효율적인 방법과 심층적인 분석을
                            활용하여 운용해야 합니다. 당사가 제공하는 재무적 분석 , 금융공학적 분석을 통해 암호화폐 자산을 효율적으로 운용해 보세요 </p>
                     </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about_thumb">
                        <img src='{% static "img/service/about.png" %}' alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /about_info_area end  -->

    <!-- counter_area  -->
    <div class="counter_area counter_bg_1 overlay_03">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src='{% static "img/svg_icon/group.svg" %}' alt="">
                        </div>
                        <h3> <span class="counter">2438</span> <span>+</span> </h3>
                        <p>Partner Member</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src='{% static "img/svg_icon/cart.svg" %}' alt="">
                        </div>
                        <h3> <span class="counter">63</span> <span>%</span> </h3>
                        <p>연간 평균 누적 수익률 </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <img src='{% static "img/svg_icon/cryptocurrency.svg" %}' alt="" >
                        <h3> <span class="counter">47</span><span>종</span></h3>
                        <p>분석 암호화폐 </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="single_counter text-center">
                        <div class="counter_icon">
                            <img src='{% static "img/svg_icon/respect.svg" %}' alt="">
                        </div>
                        <h3> <span class="counter">4</span><span>Type</span> </h3>
                        <p>개발 매매 신호 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /counter_area  -->
    
    <!-- service_area_start -->
    <div class="service_area minus_padding">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title text-center mb-50">
                            <h3>What we Do?</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_service text-center">
                            <div class="service_icon">
                                <img src='{% static "img/svg_icon/1.svg" %}' alt="">
                            </div>
                            <h3>AI 머신러닝을 활용한 <br>  암호화폐  매매 신호 제공</h3>
                            <p>시장에서 발생하는 다양한 정보들을 분석하고 AI 머신러닝을 통해 학습하여 최적의 매매신호를 찾아 낸다 </p>
                            <a href="#" class="learn_more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_service text-center">
                            <div class="service_icon">
                                <img src='{% static "img/svg_icon/2.svg" %}' alt="">
                            </div>
                            <h3>Pair-Trading 매매 지원 </h3>
                            <p>비트코인을 위시한 다른 코인들의 변동성 분석 및  테마별 코인들의 변동성을 분석하여
                                코인들의 매매신호를 찾아내 투자자들에게 제공한다.   </p>
                            <a href="#" class="learn_more">Learn More</a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single_service text-center">
                            <div class="service_icon">
                                <img src='{% static "img/svg_icon/3.svg" %}' alt="">
                            </div>
                            <h3> 암호화폐  인덱스 제공 및 개발 </h3>
                            <p>암호화폐 시장의 시가총액 및 가격지수 , 테마별 가격지수등 시장 분석에 활용되는 다양한 인덱스를
                            제공한다. </p>
                            <a href="#" class="learn_more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service_area_end -->

    <!-- Information_area  -->
    <div class="Information_area overlay">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-xl-8">
                    <div class="info_text text-center">
                        <h3>암호화폐 자산 운용의  모든 서비스를 제공합니다. </h3>
                        <a class="boxed-btn3" href="#"> MAINIX</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Information_area  end -->

    <!-- footer start -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <a href="#">
                            <img src='{% static "img/detail_logo.jpg" %}' alt="">
                        </a>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-3">
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                           <div class="footer_widget">
                              <p> E-mail :
                                    <a href="#">mainixfn@naver.com</a>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->


    <!-- JS here -->
    <script src='{% static "js/vendor/modernizr-3.5.0.min.js" %}'></script>
    <script src='{% static "js/vendor/jquery-1.12.4.min.js" %}'></script>
    <script src='{% static "js/popper.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/owl.carousel.min.js" %}'></script>
    <script src='{% static "js/isotope.pkgd.min.js" %}'></script>
    <script src='{% static "js/ajax-form.js" %}'></script>
    <script src='{% static "js/waypoints.min.js" %}'></script>
    <script src='{% static "js/jquery.counterup.min.js" %}'></script>
    <script src='{% static "js/imagesloaded.pkgd.min.js" %}'></script>
    <script src='{% static "js/scrollIt.js" %}'></script>
    <script src='{% static "js/jquery.scrollUp.min.js" %}'></script>
    <script src='{% static "js/wow.min.js" %}'></script>
    <script src='{% static "js/nice-select.min.js" %}'></script>
    <script src='{% static "js/jquery.slicknav.min.js" %}'></script>
    <script src='{% static "js/jquery.magnific-popup.min.js" %}'></script>
    <script src='{% static "js/plugins.js" %}'></script>
    <script src='{% static "js/gijgo.min.js" %}'></script>
    <script src='{% static "js/slick.min.js" %}'></script>
    <!--contact js-->
    <script src='{% static "js/contact.js" %}'></script>
    <script src='{% static "js/jquery.ajaxchimp.min.js" %}'></script>
    <script src='{% static "js/jquery.form.js" %}'></script>
    <script src='{% static "js/jquery.validate.min.js" %}'></script>
    <script src='{% static "js/mail-script.js" %}'></script>

    <script src='{% static "js/detail_main.js" %}'></script>
</body>

</html>